/* ====== Import Fonts  ====== */

@font-face
  font-family: spaceGrotesk
  src: url('../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype')

/* ====== Colors variables  ====== */

$primary-black: hsl(0, 0%, 8%)
$primary-green: hsl(153, 71%, 59%)
$neutral-black: hsl(0, 0%, 14%)
$neutral-grey: hsl(0, 0%, 85%)
$neutral-white: hsl(0, 0%, 100%)

/* ====== Typography variables  ====== */

//heading XL

$space-grotesk-font: 'spaceGrotesk', sans-serif
$heading-xl-size: 88px
$heading-xl-line: 88px
$heading-xl-spacing: -2.5px

//heading L

$heading-l-size: 40px
$heading-l-line: 56px
$heading-l-spacing: -1.5px

//heading M

$heading-m-size: 24px
$heading-m-line: 32px

//Body

$body-size: 18px
$body-line: 28px
$body-wight: 500

/* ====== Buttons variables  ====== */

//Button typography

$btn-font-size: 26px
$btn-weight: 700
$btn-line-height: 75px
$btn-letter-spacing: 2.286px

//Button styles
$btn-width: 120px
$btn-height: 100px


//BreakPoints

$breakpoint-tablet: 768px
$breakpoint-desktop: 1024px

/* ====== Mixin for responsive behavior ====== */

@mixin tablet
  @media (min-width: $breakpoint-tablet)
    @content


@mixin desktop
  @media (min-width: $breakpoint-desktop)
    @content


@mixin flex-behavior-column
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

/* ====== Mixin for standard styles ====== */

@mixin btn-idle
  font-family: $space-grotesk-font
  font-weight: $btn-weight
  font-size: $btn-font-size
  line-height: $btn-line-height
  letter-spacing: $btn-letter-spacing
  width: auto
  background-color: inherit
  color: $neutral-white
  text-transform: uppercase
  gap: 10px
  border: 0
  border-bottom: 2px $primary-green solid
  cursor: pointer
  transition: color 0.3s ease


@mixin border-bottom-green-effect
  border-bottom: $primary-green 4px solid


/* ====== General styles ====== */

body
  background-color: $primary-black
  color: $neutral-white
  font-family: $space-grotesk-font
  margin: 0
  padding: 0

ul
  list-style: none

.divider
  width: 90%
  height: 2px
  background-color: $neutral-white
  margin-top: 100px
  margin-bottom: 50px
  @include tablet
    width: 90%
  @include desktop
    width: 90%

.btn
  @include btn-idle

.btn:hover
  color: $primary-green


.bg-secondary
  background-color: $neutral-black

/* ====== Header styles ====== */
//Social Media Icons

.header-container
  @include flex-behavior-column
  @include tablet
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0 30px 30px
  @include desktop
    padding-left: 150px
    padding-right: 150px

.title-name-logo
  font-weight: 700
  font-size: 38px
  line-height: $heading-xl-line
  letter-spacing: $heading-l-spacing

.social-media-icons
  display: flex
  list-style: none
  gap: 40px
  flex-direction: row
  margin-right: 40px
  margin-top: -15px
  // Tablet layout
  @include tablet
    margin: 5px

.social-media-icons object
  width: 35px
  height: auto
  @include tablet
    width: 30px

.icon
  transition: transform 0.3s ease
  cursor: pointer

.icon:hover
  transform: scale(1.3)

.btn-main
  position: absolute
  @include tablet
    bottom: 110px
    right: 580px
  @include desktop
    position: absolute
    right: 1050px
    bottom: -220px
    padding: 0

.btn-main .btn
  font-size: 20px

/* ====== Main styles ====== */

.container
  @include flex-behavior-column
  object-fit: cover

.main-text-greeting
  text-align: center
  font-size: $heading-l-size
  @include tablet
    text-align: left
    font-size: 70px
    padding: 25px 100px 25px 25px
    margin-right: 120px
  @include desktop
    padding-left: 150px
    margin-right: 400px
    text-align: left
    padding-top: 0

.main-text-greeting span
  @include border-bottom-green-effect

.main-text
  text-align: center
  font-size: $heading-m-size
  color: $neutral-grey
  @include tablet
    text-align: left
    padding: 25px 120px 35px 25px
    font-size: 28px
    margin-top: -30px
    margin-right: 175px
    line-height: $heading-l-line
  @include desktop
    text-align: left
    padding-left: 150px
    margin-right: 500px

.profile-picture
  width: 200px
  object-fit: cover
  @include tablet
    width: 330px
    position: absolute
    top: 560px
    right: 2px
    z-index: -1
  @include desktop
    right: 100px
    top: 250px
    width: 500px

.rings
  position: absolute
  top: 350px
  right: 140px
  z-index: -1
  @include tablet
    top: 220px
    right: 600px
  @include desktop
    top: 190px
    right: 1120px

/* ====== Technologies styles ===== = */

.technologies-container
  @include flex-behavior-column
  @include tablet
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 25px
  @include desktop
    width: 80%
    grid-template-columns: repeat(3, 1fr)
    text-align: left

.technologies-container h1
  font-size: $heading-l-size

.technologies-container p
  font-size: $heading-m-size
  color: $neutral-grey
  margin-top: -20px

/* ============
            Technologies styles
                          ============== = */

.footer-container
  @include flex-behavior-column
  padding-bottom: 50px

/* ================
                Projects styles
                         =================== */

.projects-container
  @include flex-behavior-column
  @include tablet
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 25px

.title-container
  display: flex
  flex-direction: row
  gap: 10px
  @include tablet
    justify-content: space-between
    gap: 350px
    margin-top: 50px

.title
  font-size: $heading-l-size
  @include desktop
    font-size: $heading-xl-size
    padding-right: 350px

.btn-project
  font-size: 18px
  margin-left: 50px
  line-height: 50px
  margin-top: 27px
  @include tablet
    font-size: 15px
  @include desktop
    position: absolute
    top: 1620px
    right: 180px
    font-size: 25px

.project img
  width: 343px
  height: auto
  padding-top: 20px
  @include desktop
    width: 520px

.project h2
  text-transform: uppercase
  text-align: start

.project ul
  display: flex
  flex-direction: row
  gap: 15px
  color: $neutral-grey
  font-weight: 500
  margin-left: -40px

.project li
  text-align: start
  font-size: 18px

.btn-container-projects
  display: flex
  gap: 20px


.btn-projects
  font-size: 18px
  line-height: 45px

.project
  padding-bottom: 60px
  @include desktop
    padding-bottom: 25px

.divider-projects
  @include tablet
    display: none
  @include desktop
    display: none

/* ====== Contact form styles  ====== */
footer
  box-sizing: border-box
  width: 100%

.contact-container
  @include flex-behavior-column
  @include desktop
    display: flex
    flex-direction: row
    align-items: center

.text-contact-box
  @include desktop
    @include flex-behavior-column
    text-align: left
    padding-bottom: 200px

.contact-container h1
  font-size: 55px
  @include tablet
    font-size: $heading-xl-size
  @include desktop
    padding-right: 150px
    padding-left: 90px

.contact-container p
  font-size: 20px
  padding-bottom: 60px
  @include tablet
    font-size: 25px
    margin-right: 100px
    margin-left: 100px
    margin-top: -40px
  @include desktop
    font-size: 20px
    line-height: $heading-l-line


.contact-form
  @include flex-behavior-column
  align-items: start
  font-size: 20px
  text-transform: uppercase
  color: $neutral-grey
  padding-bottom: 70px
  @include desktop
    padding-right: 200px
    padding-top: 20px

.btn-contact
  font-size: 20px

.btn-send
  @include tablet
    padding-left: 320px
  @include desktop
    padding-left: 410px
    font-size: 10px

label
  font-weight: 700
  color: $neutral-grey
  padding-left: 15px
  padding-top: 25px

input, textarea
  border: none
  border-bottom: 2px solid $neutral-grey
  background-color: inherit
  color: $neutral-white
  padding: 10px
  width: 350px
  box-sizing: border-box
  margin-bottom: 10px
  outline: none
  @include tablet
    width: 500px
  @include desktop
    width: 600px

.icon-footer-container
  display: flex
  gap: 150px
  @include desktop
    gap: 20px
    align-content: space-between

.icon-footer-container ul
  padding-top: 55px
  @include desktop
    display: flex
    align-content: space-between
    padding-left: 500px

.rings-contact
  @include tablet
    position: absolute
    left: -300px
    top: 3655px
  @include desktop
    left: -200px
    position: absolute
    top: 4180px
